/* <?php
   header("Content-type: text/css");

?> */

main section .container {
    padding: 1%;
  }

  main section .container ul li {
    list-style: none;
    /* background-color:lightblue; */
    /* padding: 1%; */
    /* margin: 1%; */
  }

  main section .container ul li label {
    /* background-color: aqua; */
    padding: 1%;
    font-family: Helvetica;
  }

  main section .container ul li input:hover {
    box-shadow: 1px 1px 1px 1px silver;
  }

  main section .container ul li label:hover {
    text-shadow: 1px 1px 1px gray;
  }

  main section .header input {
  border: none;
  border: 1px solid rgb(202, 202, 202);
  margin: auto 4% auto auto;
  padding: 1%;
  height: fit-content;
  background-color: rgb(252, 252, 252);
  font-size: 16px;
  border-radius: 16px;
  
}

main section .header input:focus {
 
  outline: none;
 
}


main section .header {
  display: flex;
  justify-content: space-between; /* Align items to the start and end of the section */
  align-items: center;
  
}
